__pycache__/
*.py[cod]
.env
env/
.DS_Store
.aws-sam/
cloud-backend/.aws-sam/
cloud-backend/packaged.yaml
frontend/node_modules/
frontend/dist/

data_pipeline/videos/output/*.json
data_pipeline/videos/enriched_metadata/*.json
data_pipeline/videos/processed_chunks/*.json
data_pipeline/books/input_books/*.pdf
data_pipeline/books/books_output/*.json
data_pipeline/books/books_enriched_metadata/*.json
data_pipeline/books/processed_books_chunks/*.json
data_pipeline/books/book_thumbnails/*.png
